.git/**
.github/**
.kiro/**
.vscode-test/**
node_modules/**
src/**
test/**
config/**
out/**
examples/**
ignore/**
icon/*.svg
media/preview.js
scripts/**

*.ts
dist/**
!dist/extension.js
!dist/preview.js
*.map
dist/*.map
tsconfig.json
e2e_log.txt
*.vsix
dist/*.vsix
