.git/**
.github/**
.kiro/**
.vscode-test/**
node_modules/**
src/**
test/**
config/**
out/**
examples/**
media/preview.js

*.ts
!dist/**
tsconfig.json
vitest.config.ts
.vscode-test.mjs
e2e_log.txt
*.vsix
dist/*.vsix
